{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <div id="container01" class="style1 container default full screen">
                <div class="wrapper">
                    <div class="inner" data-onvisible-trigger="1">
                        <p id="text28" class="style7">Welcome to our gallery</p>
                        <h1 id="text29" class="style2">Benni rugs</h1>
                        <p id="text30" class="style3">The Source For Antique & Modern Rugs, Kilim, Runners and Wall Rugs
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-lg btn-warning mb-2 mx-md-3">Shop Now</a>
                        <a href="{% url 'services' %}" class="btn btn-lg btn-warning mb-2">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col gallery-container">
    <div class="row">
        <div class="col-12">
            <div class="inner text-center" data-onvisible-trigger="1">
                <p id="text16" class="style5 text-gold">Explore Our Collection</p>
                <h2 id="text17" class="style2 text-gold">View Our Stunning Rugs</h2>
                <p id="text18" class="style3">Discover our exquisite collection of rugs, showcasing intricate designs
                    and unmatched craftsmanship. View now!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="gallery">
            <li class="col-sm-12 col-md-4">
                <a href="{% url 'products' %}?category=antique_rug" class="thumbnail n01">
                    <img class="w-100 gallery-img" src="{% static 'images/spacejoy--7QwG_Gu2tg-unsplash.jpg' %}"
                        alt="Antique Rug" />
                    <div class="caption">
                        <p class="text-center">Antique Rug</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

            <li class="col-sm-12 col-md-4">
                <a href="{% url 'products' %}?category=modern_rug" class="thumbnail n02">
                    <img class="w-100 gallery-img" src="{% static 'images/modern_2.jpg' %}" alt="Modern Rug" />
                    <div class="caption">
                        <p class="text-center">Modern Rug</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

            <li class="col-sm-12 col-md-4">
                <a href="{% url 'products' %}?category=kilim" class="thumbnail n03">
                    <img class="w-100 gallery-img" src="{% static 'images/Kilim_2.jpg' %}" alt="Kilim" />
                    <div class="caption">
                        <p class="text-center">Kilim</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="row blog-source-container mt-5 px-2">
    <div class="col-12 col-md-6">
        <div class="d-flex flex-column align-items-center justify-content-center h-100" data-onvisible-trigger="1">
            <p id="text28" class="style7 text-center">History of Rugs</p>
            <h1 id="text29" class="style2 text-center">Discover the Rugs history</h1>
            <p id="text30" class="style3 text-center px-4">From ancient traditions to modern design.
                Explore the cultural significance and timeless beauty woven into every thread of these treasured
                artifacts.</p>
            <a href="{% url 'history' %}" class="btn btn-lg btn-warning mt-3 mb-5">Read More</a>
        </div>
    </div>
    <div class="col-12 col-md-6 px-0">
        <div class="blog-image-1"></div>
    </div>
</div>
<div class="row blog-source-container px-2">
    <div class="col-12 col-md-6 order-md-1 bg-warning">
        <div class="d-flex flex-column align-items-center justify-content-center h-100" data-onvisible-trigger="1">
            <p id="text28" class="style7 text-dark text-center">Carpet Weaving</p>
            <h1 id="text29" class="style2 text-center text-darkred px-4">Masterful rug weaving</h1>
            <p id="text30" class="style3 text-center text-muted px-4">A timeless craft of intricate patterns and fine
                materials.
                Transform your space with the artistry and beauty of expertly woven rugs.</p>
            <a href="{% url 'weaving' %}" class="btn btn-lg bg-nav text-gold mt-5">Read More</a>
        </div>
    </div>
    <div class="col-12 col-md-6 order-md-0 px-0">
        <div class="blog-image-2"></div>
    </div>
</div>

<div class="row mt-5 mb-5 gallery-4">
    <div class="col-12 col-md-3 ">
        <img src="{% static 'images/image02.jpg' %}" alt="" class="px-1 w-100 my-1" style="height: 350px;">
    </div>
    <div class="col-12 col-md-3">
        <img src="{% static 'images/image03.jpg' %}" alt="" class="px-1 w-100 my-1" style="height: 350px;">
    </div>
    <div class="col-12 col-md-3">
        <img src="{% static 'images/image07.jpg' %}" alt="" class="px-1 w-100 my-1" style="height: 350px;">
    </div>
    <div class="col-12 col-md-3">
        <img src="{% static 'images/image08.jpg' %}" alt="" class="px-1 w-100 my-1" style="height: 350px;">
    </div>
</div>

<div id="wrapper" class="subscribe-main">
    <div id="main">
        <div id="container01" class="style1 container default full screen">
            <div class="wrapper">
                <div class="inner" data-onvisible-trigger="1">
                    <a href="{% url 'contact' %}" class="text-center text-gold h3 text-decoration-none">Contact Us</a>
                    <h1 id="text29" class="style2">Keep in touch</h1>
                    <p id="text30" class="style3">Stay connected and receive updates directly. Keep in touch with us to
                        stay informed and never miss out on the latest news, offers, and events</p>
                    <h1 class="text-darkred">Subscribe to our newsletter</h1>
                    <form method="post" class="w-50 mx-auto">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}