{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <div id="container01" class="style1 container default full screen">
                <div class="wrapper">
                    <div class="inner" data-onvisible-trigger="1">
                        <p id="text28" class="style7">Welcome to our gallery</p>
                        <h1 id="text29" class="style2">Benni rugs</h1>
                        <p id="text30" class="style3">The Source For Antique, Modern, Kilim and wall rugs</p>
                        <!-- <ul id="icons03" class="style1 icons">
                            <li>
                                <a class="n01" onclick="_nextScrollPoint(event);">
                                    <svg aria-labelledby="icon-title"><title id="icon-title">Chevron Down</title><use xlink:href="{% static 'images/icons.svg#arrow-down-alt-light' %}"></use></svg>
                                    <span class="label">Chevron Down</span>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40"><polygon points="3.6,10.5 3.6,29.5 20,39 36.4,29.5 36.4,10.5 20,1" vector-effect="non-scaling-stroke" /></svg>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}