{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <div id="container01" class="style1 container default full screen">
                <div class="wrapper">
                    <div class="inner" data-onvisible-trigger="1">
                        <p id="text28" class="style7">Welcome to our gallery</p>
                        <h1 id="text29" class="style2">Benni rugs</h1>
                        <p id="text30" class="style3">The Source For Antique, Modern, Kilim and wall rugs</p>
                        <!-- <ul id="icons03" class="style1 icons">
                            <li>
                                <a class="n01" onclick="_nextScrollPoint(event);">
                                    <svg aria-labelledby="icon-title"><title id="icon-title">Chevron Down</title><use xlink:href="{% static 'images/icons.svg#arrow-down-alt-light' %}"></use></svg>
                                    <span class="label">Chevron Down</span>
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 40 40"><polygon points="3.6,10.5 3.6,29.5 20,39 36.4,29.5 36.4,10.5 20,1" vector-effect="non-scaling-stroke" /></svg>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col gallery-container">
    <div class="row">
        <div class="col-12">
            <div class="inner text-center" data-onvisible-trigger="1">
                <p id="text16" class="style5">Rutrum tellus</p>
                <h2 id="text17" class="style2 text-gold">Senectus netus</h2>
                <p id="text18" class="style3">Morbi quis commodo odio aenean sed adipiscing diam donec consectetur erat aenean sed adipiscing diam donec adipiscing.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="gallery">
            <li class="col-sm-12 col-md-4">
                <a href="https://example.com/1" class="thumbnail n01">
                    <img class="w-100 gallery-img" src="{% static 'images/spacejoy--7QwG_Gu2tg-unsplash.jpg' %}" alt="Antique Rug" />                
                    <div class="caption">
                        <p class="text-center">Antique Rug</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

            <li class="col-sm-12 col-md-4">
                <a href="https://example.com/2" class="thumbnail n02">
                    <img class="w-100 gallery-img" src="{% static 'images/modern_2.jpg' %}" alt="Modern Rug" />
                    <div class="caption">
                        <p class="text-center">Modern Rug</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

            <li class="col-sm-12 col-md-4">
                <a href="https://example.com/3" class="thumbnail n03">
                    <img class="w-100 gallery-img" src="{% static 'images/Kilim_2.jpg' %}" alt="Kilim" />
                    <div class="caption">
                        <p class="text-center">Kilim</p>
                        <p class="text-center text-gold">Shop Now</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

<!-- later -->
<!-- <div id="container08" data-scroll-id="start" data-scroll-behavior="center" data-scroll-offset="0" data-scroll-speed="3" data-scroll-invisible="1" class="style3 container columns full screen">
    <div class="wrapper">
        <div class="inner" data-onvisible-trigger="1" data-reorder="1,0">
            <div>
                <p id="text19" class="style5">History of Rugs</p>
                <h2 id="text20" class="style2">Discover the Rugs history</h2>
                <p id="text21" class="style3">From ancient traditions to modern design. Explore the cultural significance and timeless beauty woven into every thread of these treasured artifacts.</p>
                <ul id="buttons05" class="style1 buttons">
                    <li>
                        <a href="#" class="button n01"><svg aria-labelledby="icon-title"><title id="icon-title">Chevron Right (Light)</title><use xlink:href="assets/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Read More</span></a>
                    </li>
                </ul>
            </div>
            <div class="full">
                <div id="image04" class="style1 image full" data-position="center">
                    <span class="frame"><img src="assets/images/image04.jpg" alt="" /></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container03" class="style4 container columns full screen">
    <div class="wrapper">
        <div class="inner" data-onvisible-trigger="1">
            <div class="full">
                <div id="image01" class="style1 image full" data-position="center">
                    <span class="frame"><img src="assets/images/image01.jpg" alt="" /></span>
                </div>
            </div>
            <div>
                <p id="text01" class="style6">Carpet Weaving</p>
                <h2 id="text03" class="style4">Masterful rug weaving</h2>
                <p id="text02" class="style1">A timeless craft of intricate patterns and fine materials. Transform your space with the artistry and beauty of expertly woven rugs.</p>
                <ul id="buttons03" class="style2 buttons">
                    <li>
                        <a href="#" class="button n01"><svg aria-labelledby="icon-title"><title id="icon-title">Chevron Right (Light)</title><use xlink:href="assets/icons.svg#arrow-right-alt-light"></use></svg><span class="label">Read More</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}