{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Add Testimonial{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-left pt-4"  style="color: #f0ca698f;">Add Testimonial</h1>
        </div>
    </div>
    <hr style="background-color: #f0ca69b5;">
    <br>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3 add-recipe-outer mb-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="star-rating">
                    <input type="radio" name="rating-start" id="5-stars" value="5">
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating-start" id="4-stars" value="4">
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating-start" id="3-stars" value="3">
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating-start" id="2-stars" value="2">
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" name="rating-start" id="1-star" value="1">
                    <label for="1-star" class="star">&#9733;</label>
                </div>
                {{ form | crispy }}
                <button type="submit" class="btn btn-outline-dark border-gold text-gold rounded-0">Add Testimonial</button>
                <a class="btn btn btn-outline-dark border-gold text-gold rounded-0 m-2"
                    href="{%  url 'testimonials' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.querySelectorAll('.star-rating input').forEach((start)=>{
        start.addEventListener('click', (event)=>{
            console.log('clicked');
            console.log(event.target.value);
            document.getElementById('id_rating').value = event.target.value;
        })
    })

</script>
{% endblock %}