{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Testimonials{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-left pt-5"  style="color: #f0ca698f;">Testimonials</h1>
        </div>
        <div class="col-12">
            <div class="pt-3 text-center">
                <a href="{% url 'add_testimonial' %}" class="btn btn-sm gold-button py-2" aria-label="add-testimonial">
                    Add Testimonial
                </a>
            </div>
        </div>
    </div>
    <hr style="background-color: #f0ca69b5;">
    <br>
    <div class="container mb-4">
        <div class="card-columns">
            {% for testimonial in testimonial_list  %}
            <div class="card my-3 border-gold bg-transparent">
                <div class="text-center">
                    {% if testimonial.rating == 5 %}
                    <div class="star-rating">
                        <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    </div>
                    {% elif testimonial.rating == 4 %}
                    <div class="star-rating">
                        <span>&#9733; &#9733; &#9733; &#9733;</span>
                    </div>
                    {% elif testimonial.rating == 3 %}
                    <div class="star-rating">
                        <span>&#9733; &#9733; &#9733; &#9733;</span>
                    </div>
                    {% elif testimonial.rating == 2 %}
                    <div class="star-rating">
                        <span>&#9733; &#9733; &#9733; &#9733;</span>
                    </div>
                    {% else %}
                    <div class="star-rating">
                        <span>&#9733;</span>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body text-gold">
                    <h4 class="text-center"><strong>{{ testimonial.service.type }}</strong></h4>
                    {{ testimonial.body }}
                </div>
                <div class="card-body text-gold">
                    <strong>{{ testimonial.name }}</strong>
                    <br>
                    {{ testimonial.created_on }}
                    {% if user.is_authenticated and testimonial.name == user or user.is_superuser %}
                    <span class="align-self-end text-gold">
                        <small class="edit-delete-btns ">
                            <a href="{% url 'edit_testimonial' testimonial.id %}" class="text-gold">Edit</a> |
                            <a href="{% url 'delete_testimonial' testimonial.id %}" class="text-gold">Delete</a>
                        </small>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border-gold">
    <div class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-jet mx-auto my-auto"></i>
    </div>
</div>
{% endblock %}