html {
    height: 100%;
}

/* Global Styles */

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #4D4E54;
}

.content {
    min-height: calc(100vh - 328px);
}

.text-jet {
    color: #4D4E54 !important;
}

.text-gold {
    color: #A99166 !important;
}

.gold-button {
    background: #A99166;
    color: black;
    font-weight: 300 !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px;
}

.gold-button:hover {
    color: white;
}

.border-gold {
    border: 1px solid #A99166 !important;
}

/* Nav */

.logo-image {
    height: 90px;
}

.nav-icons i:hover {
    color: #4D4E54;
    ;
}

.username:hover {
    color: #4D4E54;
    ;
}

.navbar ul a {
    text-transform: uppercase;
    color: #4D4E54;
    font-size: 14px;
    font-weight: 400 !important;
}

.navbar ul a:hover {
    color: #A99166;
}

.bag-badge {
    background: #4D4E54;
    color: #fff;
    height: 19px;
    line-height: 19px;
    border-radius: 50%;
    margin: 0;
    min-width: 19px;
    font-size: 12px;
    position: absolute;
    transform: translateY(-50%);
}

.dropdown-menu-right a {
    font-size: 12px !important;
}