:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 150px;
	left: 0;
	position: fixed;
	background: #2B0101;
	z-index: -1;
}

html {
    height: 100%;
}

/* Global Styles */

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #4D4E54;
    line-height: 1.0;
	min-height: 100vh;
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #2B0101;
	background-image: url('/static/images/background-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    min-height: calc(100vh - 328px);
}


#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1s ease-in-out 0s;
}

#main > .inner {
	--padding-horizontal: 6rem;
	--padding-vertical: 6rem;
	--spacing: 1.5rem;
	--width: 50rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.text-jet {
    color: #4D4E54 !important;
}

.text-gold {
    color: #F0CA69 !important;
}

.bg-gold {
	background-color: #2b0101b0;
}

.text-darkred {
	color: #2B0101;
}
.gold-button {
    background: #F0CA69;
    color: black;
    font-weight: 300 !important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px;
}

.bg-nav {
	background: #2B0101;
}
.gold-button:hover {
    color: white;
}

.border-gold {
    border: 1px solid #F0CA69 !important;
}

/* Nav */

.logo-image {
    height: 90px;
}

.navbar-toggler-icon span{
    color: #F0CA69 !important;
}

.nav-social-networks i:hover {
    color: #880000;
    ;
}

.form-control::placeholder { 
	color: #f0ca695f;
	opacity: 1; 
}

.form-control:-ms-input-placeholder { 
	color: #f0ca69b4;
}

.form-control::-ms-input-placeholder {
	color: #f0ca69b4;
}


#sort-selector:focus,
input[type="text"]:focus {
	background-color: transparent;
	border: transparent;
	color: #F0CA69;
}

#sort-selector,
.search-box-input input {
	background-color: transparent;
	border-bottom: 1px solid #F0CA69;
	color: #F0CA69;
}

.username:hover {
    color: #4D4E54;
    ;
}


.navbar ul a {
    text-transform: uppercase;
    color: #f0ca69;
    font-size: 14px;
    font-weight: 400 !important;
}

.navbar ul a:hover {
    color: #f0ca69b9;
}

.bag-badge {
    background: #4D4E54;
    color: #fff;
    height: 19px;
    line-height: 19px;
    border-radius: 50%;
    margin: 0;
    min-width: 19px;
    font-size: 12px;
    position: absolute;
    transform: translateY(-50%);
}

.dropdown-menu-right a {
    font-size: 12px !important;
}

/* Gallery -02 */
.gallery-container {
	margin-top: 164px;
}

.gallery {
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery li {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.thumbnail {
	position: relative;
}

.gallery-img {
	height: 400px;
}

.thumbnail:hover .gallery-img{
	opacity: 0.5;
	background-color: rgba(0,0,0,0.322);
}

.thumbnail:hover .caption {
	opacity: 1;
	transition: 1s ease;
}

.caption {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.caption p {
	border-radius: inherit;
	padding-bottom: 1.5625rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 1.5625rem;
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 0.35rem;
	font-size: 1.5em;
	line-height: 1.5;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}

/* Typography */

h1.style1, h2.style1, h3.style1, p.style1 {
	color: rgba(0,0,0,0.69);
	font-family: 'Inter', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 2;
	font-weight: 300;
}

h1.style2, h2.style2, h3.style2, p.style2 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 0.35rem;
	width: calc(100% + 0.35rem);
	font-size: 2.875em;
	line-height: 1.625;
	font-weight: 600;
	text-shadow: 0.088rem 0.088rem 0.125rem #F0CA69;
}

h1.style3, h2.style3, h3.style3, p.style3 {
	color: rgba(255,255,255,0.71);
	font-family: 'Inter', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 2;
	font-weight: 300;
}

h1.style7, h2.style7, h3.style7, p.style7 {
	text-transform: uppercase;
	color: #F0CA69;
	font-family: 'Lexend Deca', sans-serif;
	letter-spacing: 0.35rem;
	width: calc(100% + 0.35rem);
	font-size: 1.125em;
	line-height: 1.875;
	font-weight: 600;
	text-shadow: 0.088rem 0.088rem 0.125rem #000000;
}

.social-networks {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}


/* Footer */
.footer-logo {
	height: auto;
	width: 60%;
}

footer a:hover {
    color: #f0ca696f !important;
	font-weight: bolder !important;
}

.divider {
    border-right: 1px solid rgba(245, 246, 245, 0.2);
    border-left: 1px solid rgba(245, 246, 245, 0.2);
}


footer .social-networks {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
	list-style: none;
}

footer .social-networks li {
	position: relative;
	z-index: 1;
	border: 2px solid white;
	list-style: none;
	text-align: center;
}

.btt-link {
    cursor: pointer;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border: black;
    border-radius: 0;
}


.product-card {
	width: 80%;
}

.product-card:hover {
	opacity: 80%;
}

.edit-delete-btns {
    z-index: 5000;
    color: #2B0101 !important;
}

.edit-delete-btns span {
    color: #2B0101;
}

.edit-delete-btns a {
    color: #2B0101;
}

.keep-btn:hover {
	background-color: #2B0101;
	color: #F0CA69;
}

.product-detail-image {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    min-height: 400px
}

.gold-break {
    border-top: 0.2px solid #F0CA69 !important;
}

.product-description {
    background-color: #F5F6F4;
    height: 15vw;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: white;
}

.btt-link {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.bag-image {
    width: 50%;
	margin-left: 25%;
    object-fit: cover;
    min-height: 150px;
}


/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1rem;
}

.allauth-form-inner-content a:not(.btn) {
    color: #F0CA69;
}

.allauth-form-inner-content input {
    border-color: #F0CA69;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #4D4E54;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid #F0CA69;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
}

@media screen and (max-width: 565px) {
	span.navbar-light,
    .navbar-light {
        color: #F0CA69 !important;
    }

	.gallery {
		flex-direction: column;
	}

	.divider {
        border: none;
        padding: 0 !important;
    }
}
