{% load static %}
<footer class="container-fluid">
    <div class="row py-lg-3 px-lg-3">
        <div class="col-12 col-md-4 p-4 order-first">
            <h1 class="text-left style7 text-uppercase text-center">Stay in Touch!</h1>
            <hr class="w-50 bg-warning align-left">
            <ul class="social-networks">
                <li class="col-4">
                    hello1 
                </li>
                <li class="col-4">
                    hello2
                </li>
                <li class="col-4">
                    hello3
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-4 p-4 text-center divider">
            <a href="#"><img src="{% static 'images/LOGO.png' %}" alt="Benni Rugs Logo" rel="nofollow noopener"
                    class="m-1 footer-logo"></a>
        </div>

        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <h1 class="text-center style7 text-uppercase">Links</h1>
            <hr class="w-50 bg-warning">
            <ul class="nav flex-column px-4">
                <li class="nav-item">
                    <a href="" class="nav-link text-uppercase text-center text-gold">SHOP RUGS</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-uppercase text-center text-gold">RUG SERVICES</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-uppercase text-center text-gold">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-uppercase text-center text-gold">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-uppercase text-center text-gold">contact us</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.privacypolicygenerator.info/live.php?token=77vt4RyR63gikm5tYefcnXcIqUdo97uc"
                        target="_blank" class="nav-link text-uppercase text-center text-gold">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>