<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto pl-1 m-auto">
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-3" href="#" id="all-rugs-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Shop Rugs
            </a>
            <div class="dropdown-menu border-0 bg-gold" aria-labelledby="all-rugs-link">
                <a href="{% url 'products' %}" class="dropdown-item mb-1">All Rugs</a>
                <a href="{% url 'products' %}?category=antique_rug" class="dropdown-item mb-1">Antique Rugs</a>
                <a href="{% url 'products' %}?category=modern_rug" class="dropdown-item mb-1">Modern Rugs</a>
                <a href="{% url 'products' %}?category=kilim" class="dropdown-item mb-1">Kilim</a>
                <a href="{% url 'products' %}?category=runner_rug" class="dropdown-item mb-1">Runner Rugs</a>
                <a href="{% url 'products' %}?category=	wall-rug-frame" class="dropdown-item mb-1">Wall Art Rugs</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'services' %}">
                Rug Services
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'about' %}">
                About Us
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-3" href="#" id="blog-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0 bg-gold" aria-labelledby="blog-link">
                <a href="{% url 'history' %}" class="dropdown-item mb-1">History of Rug</a>
                <a href="{% url 'weaving' %}" class="dropdown-item mb-1">Rug Weaving</a>
                <a href="{% url 'repair' %}" class="dropdown-item mb-1">Rug Repair</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'testimonials' %}">
                Testimonials
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'contact' %}">
                Contact Us
            </a>
        </li>
    </ul>
</div>