{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Profile {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="text-left pt-4" style="color: #f0ca698f;">About Us</h1>
        </div>
    </div>
    <hr style="background-color: #f0ca69b5;">
    <br>
    <div class="row mt-2">
        <div class="col-12 col-md-7">
            <img src="{% static 'images/21689.jpg' %}" class="rounded-lg w-100" alt="about-us">
        </div>
        <div class="col-12 col-md-5">
            <h3 class="text-gold text-left mt-5 mb-2">Benni Rugs</h3>
            <p class="text-gold h5 text-justify" style="line-height: 40px;">Welcome to Benni Rugs,
                where tradition meets innovation in the world of handcrafted rugs.
                Established in 1988, our journey began with a passion for creating exquisite,
                high-quality rugs that reflect both timeless elegance and contemporary design.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <h4 class="text-gold text-left mt-3">
            Our Story
        </h4>
        <p class="h6 text-justify text-gold-muted">
            For over three decades, Benni Rugs has been dedicated to the art of rug making.
            Founded by artisans who recognized the beauty and cultural significance of handwoven rugs,
            we have grown into a trusted name in luxury rugs.
            Our commitment to preserving traditional techniques while
            embracing modern aesthetics sets us apart in the industry.
        </p>
        <h4 class="text-gold text-left mt-3">
            Craftsmanship and Quality
        </h4>
        <p class="h6 text-justify text-gold-muted">
            At Benni Rugs, every rug is a masterpiece.
            Our skilled weavers use age-old techniques passed down through generations,
            ensuring each piece is unique and meticulously crafted. We source the finest materials,
            from premium wool to luxurious silk, to create rugs that are not only beautiful but
            also durable and long-lasting.
        </p>
        <h4 class="text-gold text-left mt-3">
            Design and Innovation
        </h4>
        <p class="h6 text-justify text-gold-muted">
            While we honor the traditions of rug making,
            we are also passionate about innovation. Our design team draws inspiration
            from various cultures and contemporary trends to create collections that appeal to diverse tastes.
            Whether you're looking for a classic Persian-inspired rug or a bold, modern statement piece,
            Benni Rugs offers a wide range of styles to suit any décor.
        </p>
        <h4 class="text-gold text-left mt-3">
            Our Mission
        </h4>
        <p class="h6 text-justify text-gold-muted">
            Our mission at Benni Rugs is to bring the timeless beauty of handcrafted rugs
            into homes around the world. We believe that a rug is more than just a floor covering;
            it's an expression of art and a centerpiece that can transform a space.
            We strive to provide our customers with rugs that are not only aesthetically
            pleasing but also of the highest quality.
        </p>
        <h4 class="text-gold text-left mt-3">
            Sustainability and Ethics
        </h4>
        <p class="h6 text-justify text-gold-muted">
            We are committed to ethical practices and sustainability.
            We work closely with our artisans to ensure fair wages and safe working conditions.
            Additionally, we prioritize eco-friendly materials and processes to minimize our environmental impact.
        </p>
        <h4 class="text-gold text-left mt-3">
            Why Choose Benni Rugs?
        </h4>
        <p class="h6 text-justify text-gold-muted">
            We invite you to explore our collections and discover the perfect rug for your home.
            Follow us on social media to stay updated on our latest designs, promotions,
            and behind-the-scenes glimpses into the world of Benni Rugs.
            Join our community of rug enthusiasts and experience the beauty and craftsmanship of our handwoven
            masterpieces.
        </p>

    </div>
</div>
<div class="container">
    <hr style="background-color: #f0ca69b5;">
    <div class="row mt-5">
        <div class="col-12">
            <p class="text-gold-muted h5">
                Thank you for choosing Benni Rugs. We look forward to being a part of your journey in creating beautiful
                spaces.
            </p>
            <p class="text-gold-muted h5">
                Explore our collection today and find the perfect rug that speaks to your style and sensibility. At
                Benni Rugs, we weave more than rugs; we weave stories of tradition, passion, and innovation.
            </p>
            <hr>
        </div>
    </div>

</div>
</div>
    <hr style="background-color: #f0ca69b5;">
{% endblock %}