{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-5"  style="color: #f0ca69b9;">{% trans "Password Reset" %}</h1>
        </div>
    </div>
    <hr style="background-color: #f0ca69b5;">
    <br>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="color: #f0ca699c;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-dark border-gold rounded-0 text-gold" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" value="{% trans 'Reset My Password' %}" class="text-gold bg-transparent">
    </form>

    <p style="color: #f0ca6994;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}