{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Enquiries{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container pb-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-left pt-4" style="color: #f0ca69b9;">Enquiries</h1>
    </div>
  </div>
  <hr style="background-color: #f0ca69b5;">
  <br>
  <div class="container justify-content-center">
    <table class="table enquiry-table table-borderless table-hover">
      <thead>
        <tr class="border-bottom">
          <th scope="col" class="text-gold">#</th>
          <th scope="col" class="text-gold">Name</th>
          <th scope="col" class="text-gold">Enquiry Type</th>
          <th scope="col" class="text-gold" class="d-none d-md-table-cell">Message</th>
          <th scope="col" class="text-gold">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for enquiry in contact_list  %}
        <tr>
          <th scope="row" style="color: #f0ca69b9;">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'enquiry_detail' enquiry.id %}" style="color: #f0ca69b9;">{{ enquiry.name }}</a>
          </td>
          <td>
            <a href="{% url 'enquiry_detail' enquiry.id %}" style="color: #f0ca69b9;">{{ enquiry.get_enquiry_type_display }}</a>
          </td>
          <td class="d-none d-md-table-cell">
            <a href="{% url 'enquiry_detail' enquiry.id %}" style="color: #f0ca69b9;">{{ enquiry.message|truncatechars:15 }}</a>
          </td>
          <td style="color: #f0ca69b9;">{{ enquiry.date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}